@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Press+Start+2P&family=Roboto:ital,wght@0,400;1,500&display=swap");
body {
  background: rgb(29, 43, 100);
  background: linear-gradient(
    50deg,
    rgb(112, 131, 206) 22%,
    rgba(206, 230, 255, 0.48363095238095233) 47%,
    rgba(248, 205, 218, 1) 80%
  );
  height: 100vh;

  font-family: "Press Start 2P", cursive;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

/* ***************** Header ************************ */
header {
  font-size: 2rem;
  text-align: center;
}

/* ***************** Button-wrapper ************************ */
.score-display {
  margin-bottom: 100px;
}

.button-wrapper {
  margin-top: 100px;
}

button {
  font-family: "Press Start 2P", cursive;
  margin: 5px 35px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 5px;
}
button:hover {
  background-color: blanchedalmond;
}
/* ***************** Footer ************************ */
footer {
  text-align: center;
}
span {
  font-style: italic;
}
.circles {
  display: flex;
}
.circle {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(182, 236, 182);
  margin: 1rem;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}
.circle:hover {
  cursor: pointer;
}
.circle p {
  color: ghostwhite;
  font-size: 1.5rem;
}

.active {
  box-shadow: 0 0 25px rgb(216, 216, 198);
  border: 15px solid rgb(228, 241, 179);
  transform: scale(1);
}
