@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Press+Start+2P&family=Roboto:ital,wght@0,400;1,500&display=swap");
body {
  background: rgb(29, 43, 100);
  background: linear-gradient(
    50deg,
    rgb(112, 131, 206) 22%,
    rgba(206, 230, 255, 0.48363095238095233) 47%,
    rgba(248, 205, 218, 1) 80%
  );
  height: 100vh;

  font-family: "Press Start 2P", cursive;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

/* ***************** Header ************************ */
header {
  font-size: 2rem;
  text-align: center;
}

/* ***************** Main ************************ */

button {
  font-family: "Press Start 2P", cursive;
  margin: 5px 5px;
  padding: 5px;
}

/* ***************** Footer ************************ */
footer {
  text-align: center;
}
span {
  font-style: italic;
}
